<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >NutsandBolts_AI/ML</title>

<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    h3 {text-align: center;}
    h4 {text-align: center;}
    h5 {text-align: center;}
    p {text-align: center;}
    form {text-align: center;}
    body {
        background: url("bg7.jpg") no-repeat center center fixed;
        background-size: cover;
        height: 100%;

    }

</style>

</head>
<body>

    <h1 style="font-size:60px">________Human Pose Detection Model________</h1>

    <form class="grid" action="/result" method="POST">
        <h2 ><font size="font-size:400px">Welcome!</font></h2>
        <h3></h3>
        <h4 style="font-family:verdana">You have opened NutsandBolts_AI/ML project.</h4>
        <h5>This is a contemporary website that predicts human face, hand and body joint landmarks.</h5>


        <label style="font-size:50px">Enter the choice :</label>
        <input type="text" name="name" id="name">

        <input type="Submit" class="file_submit">

    </form>
    <div>
        <p style="font-size:40px"><font size = "+2" color = "Blue">The keywords to feed you choice label and execute desirable model : ? Well, here you go!</font></p>
        <p style="font-family:verdana"><font size = "+5" color = "teal">    Enter <i>"1"</i> to access Hand Detection Model</font></p>
        <p style="font-family:verdana"><font size = "+5" color = "teal">     Enter <i>"2"</i> to access Face Detection Model</font></p>
        <p style="font-family:verdana"><font size = "+5" color = "teal">     Enter <i>"3"</i> to access Body Detection Model</font></p>
        <p style="font-family:verdana"><font size = "+2" color = "grey">     Enter <i>"d"</i> from your keyboard to exit the code :))</font></p>

    </div>
</body>
</html>